html {
    --Text: #041F1E;
    --Text2: #1E2D2F;
    --blend: #F7DBA7;
    --Background2: #e1f6d1bc;
    --Background: #46921e;
    --Background3: #376f1c;

    font-family: "Bebas Neue";
    scroll-behavior: smooth;
    max-width: 100vw;
    /* overflow: hidden; */
    background: var(--Background);
}

body {
    margin: 0px;
}


.header {
    background: var(--Background3);
    margin: -5px;
    padding: 15px 10px 10px 10px;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 10px black;
    user-select: none;
}

.background {
    width: 120vw;
    margin-left: 10;
    position: fixed;
    z-index: -100;
    margin-top: -20px;
}

.SearchResultBox {
    backdrop-filter: blur(2px);
    background: var(--Background2);
    display: flex;
    text-align: left;
    border-radius: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: none;
    outline: none;
    box-shadow: none;
}

.SearchResultImage {
    width: 50px;
    height: 50px;
    margin: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.SearchResultName {
    font-size: larger;
    color: var(--Text);
}

.SearchResultBarcode {
    color: var(--blend);
    font-size: 0px;
}

.SearchResultText {
    color: var(--Text2);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.SearchBar {
    border-color: transparent;
    background: none;
    color: var(--Text);
    height: auto;
    margin-bottom: -1px;
    width: 89%;
    outline: none;
}

#inputForm {
    height: auto;
    display: flex;
    margin-bottom: 10px;
}

.SearchArea {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    backdrop-filter: blur(2px);
    background: var(--Background2);
    padding: 3px 10px 3px 10px;
    border-radius: 35px;
}

.SearchResultAisle {
    font-size: xx-large;
    margin-left: 0px;
    margin-right: 15px;
    color: var(--Text2);
    margin-top: auto;
    margin-bottom: auto;
}

.SearchResultAisleText {
    font-size: small;
    color: var(--Text2);
    margin-left: auto;
    margin-right: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.mapContainer {
    position: fixed;
    /* bottom: -40vh; */
    bottom: 0;
    max-height: 300px;
    width: 100vw;
    align-items: center;
    margin: 0px;
    background: var(--Background2);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px black;
}

.leaflet-control-locate-circle {
    opacity: 0;
}

.map {
    display: block;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
}


.Description {
    color: var(--Background2);
    font-size: 50px;
    margin: 30px;
    margin-top: 0px;
    text-align: center;
    padding-top: 150px;
}

.Description strong {
    color: var(--blend);
}

.leaflet-container {
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0) !important;
}

.leaflet-container {
    background: none !important;
}

.leaflet-container img.leaflet-image-layer {
    max-width: none !important;
}

.UserIcon button{
    right: 0px;
    background: none;
}

.SignInPageInputLabel{
    color: var(--Text);
}

.SignInPage{
    margin-top: 10000px;
}

.SignInPageErrorLabel{
    color: rgb(255, 116, 116);
}

.ToggleSignInPageImg{
    width: 20%;
}

.SignInPageVisible{
    margin-top: 0px;
}

.UserIcon{
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-height: 750px) {
    .mapContainer {
        max-height: 250px;
    }

    .Description {
        padding-top: 100px;
    }
}

@media only screen and (min-height: 900px) {
    .mapContainer {
        max-height: 350px;
    }
}

@media only screen and (max-height: 600px) {
    /* body {
        background-color: black;
    } */
}

@media (orientation: landscape) {
    .header {
        visibility: hidden;
    }

    .mapContainer {
        height: 100vh;
        max-height: 100vh;
    }

    .map {
        height: 100vh;
        max-height: 100vh;
    }
}