<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Horizontal scroller.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/SignInPopup.css" />
    <link rel="icon" type="image/x-icon" href="/static/Images/App/Logo.png">
    <title>Mapit</title>


    <!-- 
    notes and stuff

    https://jsfiddle.net/7hed6uxL/2/ 

    git clone https://<token>@github.com/HuskiGames/ShoppingApp

    <token> =https://github.com/settings/tokens?page=1

    https://domoritz.github.io/leaflet-locatecontrol/demo/
    -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<div class="loader loader--style8" title="7">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="80px" height="80px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
        xml:space="preserve">
        <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                repeatCount="indefinite" />
        </rect>
        <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                repeatCount="indefinite" />
        </rect>
        <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                repeatCount="indefinite" />
        </rect>
    </svg>
</div>


<body>
    <form id="SignInPage" class="SignInPage" SignInPageVisible="false" onsubmit="return false;">
        <div class="SignInPageBlur">
            <strong class="SignInPageTitle">
                Staff Sign in
            </strong>
            <br><br>
            <label class="SignInPageInputLabel" for="fUsername">First name:</label><br>
            <input id="fUsername" value="admin" class="SignInPageInputFelid" type="text" name="fUsername"><br>
            <label class="SignInPageInputLabel" for="fPassword">Last name:</label><br>
            <input id="fPassword" value="admin" class="SignInPageInputFelid" type="text" name="fPassword">
            <label id="fErrors" class="SignInPageInputLabel" for="fErrors"></label><br>
            <button onclick="ToggleSignInPage()">Close</button>
            <button onclick="SignInButton_Clicked()">Submit</button>
        </div>
    </form>


    <img class="background" src="/static/Images/background.png" alt="">

    <div class="header" style="display: flex; margin-bottom: 30px;">
        <img style="width: 50px; object-fit: cover;" src="/static/Images/App/Logo.png" alt="">
        <h1 style="margin: auto auto auto 15px;">Mapit</h1>
        <button style="background: none; border-width: 0;" onclick="ToggleSignInPage()">
            <img class="UserIcon" src="/static/Images/App/UserIcon.png" alt="">
        </button>
        <button id="ToggleHelpButton" style="background: none; border-width: 0;">
            <img class="UserIcon" src="/static/Images/App/help.png" alt="">
        </button>
        <div style="margin: auto 15px auto auto;">
            <div style="font-size: larger;">Shop Name 1</div>
            <div style="color: gray;">Shop Name 2</div>
        </div>
    </div>
    

    <div class="Description">
        Search the
        <strong>STORE</strong>
    </div>

    <div id="HelpWindow" hidden>
        <div class="wrapper scroll-x">
            <ul class="items">
                <li><img src="/static/Images/App/Help 1.png" style="width: 100%;"></li>
                <li><img src="/static/Images/App/Help 2.png" style="width: 100%;"></li>
                <li><img src="/static/Images/App/Help 3.png" style="width: 100%;"></li>
                <li><img src="/static/Images/App/Help 4.png" style="width: 100%;"></li>
            </ul>
        </div>
    </div>

    <form id="inputForm" class="SearchArea">
        <img style="height: 40px; padding: 0;" src="/static/Images/SearchIcon.png" alt="">
        <input class="SearchBar" type="text" id="inputData" name="input_data" placeholder="Search...."
            autocomplete="off">
    </form>

    <div id="output">
        <!-- Results here -->
    </div>

    <div class="mapContainer">
        <div id="map" class="map"></div>
        <!-- <img src="/static/Images/Map.png" draggable="false"> -->
    </div>
    <div id="AdminControls" class="AdminControls" hidden>
        <button id="CancelMapButton" class="MapButtons">Cancel</button>
        <button id="ConfirmMapButton" class="MapButtons">Confirm</button>
    </div>

    <div id="BottemSpace" style="height: 40vh;"></div>

    <script> function scrollWin() { window.scrollTo(0, 0); } </script>
    <script type="module" src="/static/js/FindProductPage.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/Leaflet.ImageOverlay.Rotate.js" charset="utf-8"></script>
    <script type="module" src="/static/js/map.js"></script>
    <script src="/static/js/Signin.js"></script>

    <!-- real time location -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="/static/js/L.Control.Locate.min.js" charset="utf-8"></script>
</body>

</html>