<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loader.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Mapit</title>


    <!-- 
    this shit is cool
    https://jsfiddle.net/7hed6uxL/2/ 
    -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<div class="loader loader--style8" title="7">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="80px" height="80px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
        xml:space="preserve">
        <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                repeatCount="indefinite" />
        </rect>
        <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                repeatCount="indefinite" />
        </rect>
        <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                repeatCount="indefinite" />
        </rect>
    </svg>
</div>


<body>
    <img class="background" src="/static/Images/background.png" alt="">

    <div class="header" style="display: flex; margin-bottom: 30px;">
        <img style="width: 50px; object-fit: cover;" src="/static/Images/Logo.png" alt="">
        <h1 style="margin: auto auto auto 15px;">Mapit</h1>
        <div style="margin: auto 15px auto auto;">
            <div style="font-size: larger;">Shop</div>
            <div style="color: gray;">Name</div>
        </div>
    </div>

    <div class="Description">
        Search the
        <strong>STORE</strong>
    </div>

    <form id="inputForm" class="SearchArea">
        <img style="height: 40px; padding: 0;" src="/static/Images/SearchIcon.png" alt="">
        <input class="SearchBar" type="text" id="inputData" name="input_data" placeholder="Search...."
            autocomplete="off">
    </form>
    <div id="output">
        <!-- Results here -->
    </div>

    <div class="map">
        <strong class="label">
            Map
        </strong>
        <img src="/static/Images/Map.png" draggable="false">
    </div>

    <div style="height: 5000px;"></div>

    <script> function scrollWin() { window.scrollTo(0, 0); } </script>
    <script src="/static/js/main.js"></script>
    <!-- <script src="/static/zoom.js"></script> -->
</body>

</html>